{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="{% static 'icon.png' %}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <title>Let's Gooooooogle</title>
</head>

<body>
    <!-- the header section  which has two div block in it-->
    <div class="header">
        <!-- this is a left side div with a link in it-->
        <div class="header_left">
            <a href="#">About</a>
            <a href="#">Store</a>
        </div>

        <div class="header_right">
            <a href="https://mail.google.com/">Gmail</a>
            <a href="https://www.google.com/search?q=images&oq=images&aqs=chrome..69i57j0j0i3j0j0i433j69i61j69i60j69i61.969j0j7&sourceid=chrome&ie=UTF-8">Images</a>
            <a href="#"> <span class="material-icons header_app"> Apps</span>
            </a>
            <span class="material-icons"> Account</span>
        </div>
    </div>
    <!-- end of hearder section -->

    <!-- mainbody sectiion start here -->
    <div class="mainbody">
        <!-- <img src="google_img.png" style="width: 500px;" alt="google logo"> -->
        <!-- This is the way to make images show up in django-->
        <img src="{% static 'google.png' %}" alt="Google">
        <form action="go/" method="POST">
            {% csrf_token %}
            <div class="search">
                <div class="search_input">
                    <span class="material-icons">search</span>
                    <input type="text" name="search" autofocus x-webkit-speech>
                    <span class="material-icons">mic</span>
                </div>

                <div class="search_button">
                    <a href="#"><button type="submit">Google search</button></a>
                    <button>I'm feeling lucky</button>
                </div>
            </div>
        </form>
        <a href="#">

        </a>
    </div>
    </div>
    </div>




    <!--{% if final_result %}-->
    <!--<b style="padding-left: 50px; padding-right: 50px; color: #646464;">Web Results</b>-->
    <!--{% for result in final_result %}-->
    <!--<div style="padding-left: 50px; padding-right: 50px;">-->
    <!--    <h3 style="color: blue;"><a href="{{ result.1 }}">{{ result.0 }}</a></h3>-->
    <!--    <h3 style="color: green;">{{ result.1 }}</h3>-->
    <!--    <h3>{{ result.2 }}</h3>-->
    <!--</div><br><br>-->
    <!--{% endfor %}-->
    <!--{% endif %}-->


    {% if final_result %}
    <b style="padding-left: 50px; padding-right: 50px; color: #646464;" id="web-result-id">Web Results</b> {% for result in final_result %}
    <div style="padding-left: 50px; padding-right: 50px;" class="search-results">
        <h3 style="color: rgb(0, 94, 0);" id="sh3">{{result.1}}</h3>
        <h3 style="color: blue;"><a href="{{ result.1 }}" id="fh3">{{ result.0 }}</a></h3>
        <h3 id="th3"> {{ result.2 }}
        </h3>
        <br>
    </div><br><br> {% endfor %} {% endif %}
    <div class="footer">
        <p>Made with ❤️	by <a href="https://www.linkedin.com/in/danurag23/" style='text-decoration:none;'>ANURAG </a> </p>
        <br>
    
    </div>